/* Container principal */
.mainContainer {
     background-image: url('../../assets/backgroundLogin.png');
    background-repeat: no-repeat;
    background-size: cover;
       height: 100vh;
}

.imgContainer {
    width: 250px;
    height: 250px;
    padding: 10px;
}

.imgContainer img {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
}

/* Container do formulário */
.containerForm {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Título do formulário */
.containerForm h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Título principal */
.container h1 {
    font-size: 36px;
    color: yellow;
    margin-bottom: 20px;
}

/* Estilos dos campos de input */
.inputContainer {
    margin-bottom: 20px;
    text-align: left;
}

/* Estilo dos labels */
.inputContainer label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

/* Estilo dos inputs */
.inputContainer input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: border 0.3s ease;
}

/* Estilo de foco nos inputs */
.inputContainer input:focus {
    border-color: #007bff;
    outline: none;
}

/* Estilo para mensagens de erro */
.container p {
    font-size: 12px;
    margin-top: 5px;
    color: red;
}

/* Botão de submit */
.container [type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .containerForm {
        padding: 30px;
    }

    h1 {
        font-size: 28px;
    }
}
