.containerSection {
  flex: 1;
  padding: 24px;
  background: #f9fafc;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.containerSection h1 {
  font-size: 22px;
  font-weight: 600;
  color: #001529;
  margin-bottom: 8px;
}

.components {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
