.containerSection {
    margin-top: 25px;
    width: 100%;
    padding:  0 2%  ;
}

.components {
    display: flex;
   flex-direction: column;
}

.containerSection h1 {
    text-align: center;
    margin-bottom: 20px;
}