.headerContainer {
    width: 100%;
    background: linear-gradient(to right, #1168ec ,#0864dd ,#257ae8);
    height: 120px;
}

.center {
    max-width: 1280px;
    height: 120px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center h1 {
    color: yellow;
    font-weight: bold;
    font-size: 32px;
}

.center p {
    color: yellow;
    font-weight: bold;
    font-size: 21px;
    cursor: pointer;  
}

.navContainer {
    width: 100%;
    height: 70px;
    background-color: #e2e2e2;
    
}

.navContainer ul {
    width: 100%;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: rgb(57, 122, 241);
    font-weight: bold;
    
}

.navContainer ul li { 
    margin-right: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.navContainer ul li a {
    text-decoration: none;
    color: rgb(57, 122, 241) ;
}

.navContainer ul li:hover {
    color: yellow;
}


.navContainer ul li a.active {
    color: rgb(85, 85, 85);
    font-weight: bold;
    border-bottom: 2px solid #007bff;
}

.title {
    text-align: center;
    color: #007bff;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.title img {
    width: 50%;
}

.titleCollapsed {
    width: 80px;
    background-color: white;
}

.titleCollapsed img {
    width: 100%;
}

.iconCollapsed {
    width: 80px;
    background-color: white;
}

.icon {
    background-color: white;
}

