.sectionContainer {
    margin-top: 100px;
    

}
.sectionContainer h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 60px;
}

.cardsContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    justify-content: space-around;
}

.singleCard {
    width: 260px;
    height: 250px;
    border: 3px solid cornflowerblue;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.singleCard h2 {
    text-align: center;
    color: rgb(85, 85, 85);
    font-weight: bold;
}

.singleCard p {
    margin-top: 50px;
    color: rgb(85, 85, 85);
    font-size: 35px;

}

