* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}

.mainContainerFlex {
  display: grid;
  grid-template-columns: 257px 1fr; /* Primeira coluna fixa em 257px, segunda coluna ocupa o resto do espaço */
  height: calc(100vh - 50px); /* Opcional: para garantir que a altura do container ocupe toda a altura da tela */
  overflow-y: scroll;
}

.content {
  background-color: white; /* Cor de fundo do conteúdo principal (você pode alterar) */
  padding: 20px; /* Adicione o espaçamento interno que desejar */
}


body {
  background-color: #F4F4F4 
}

